<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{/layouts/main_template}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
<head>
  <meta charset="UTF-8">
  <title>공통코드 상세 리스트</title>
</head>
<body>
  <div layout:fragment="content">
		<script th:inline="javascript">
				const resultMsg = [[${msg}]];

				if (resultMsg === "SUCCESS") {
						alert([[#{common.processSuccess}]]);
				}
		</script>
		<h2 th:text="|#{detailCode.header.list}(${code})|">코드 상세 리스트 </h2>
    
  
		<table border="1">
      <thead>
        <tr>
          <td colspan="4">
            <div class="button-group">
              <button>
                <a th:href="@{|/code_detail/register?code=${code}|}" th:text="#{action.new}">상세코드 추가</a>
              </button>
              <button>
                <a th:href="@{/code/list}" th:text="#{code.header.list}">공통코드 돌아기기</a>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <th align="center" width="160" th:text="#{commonCode.code}">commonCode.code</th>
          <th align="center" width="160" th:text="#{detailCode.code}">commonCode.name</th>
          <th align="center" width="160" th:text="#{detailCode.name}">commonCode.name</th>
        </tr>
      </thead>
      
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="3">List is Empty</td>
			</tr>
			<tr th:each="CodeDetail : ${list}">
				<td th:text="${code}">commonCode.code</td>
				<td th:text="${CodeDetail.detailCode}">commonCode.code</td>
				<td><a th:href="@{|/code_detail/read?commonCode=${code}&seq=${CodeDetail.seq}|}" th:text="${CodeDetail.detailCodeName}">commonCode.name</a></td>
			</tr>
		</table>
  </div>
</body>
</html>